<!-- 페이징처리 시작 -->
<ul class='pagination justify-content-center'>
    <!-- 이전페이지 -->
    {% if paging %}
        {% if ip %}
            {% if paging.has_prev %}
            <li class='page-item'>
                <a class='page-link' href='?page=0&search={{ search }}'>처음</a>
            </li>
            <li class='page-item'>
                <a class='page-link' href='?page={{ paging.prev_num }}&search={{ search }}'>이전</a>
            </li>
            {% else %}
            <li class='page-item disabled'>
                <a class='page-link' tabindex='-1' aria-disabled='true' href='#'>처음</a>
            </li>
            <li class='page-item disabled'>
                <a class='page-link' tabindex='-1' aria-disabled='true' href='#'>이전</a>
            </li>
            {% endif %}
            {% for page_num in paging.pages %}
                {% if page_num >= 0 %}
                    {% if page_num != paging.page %}
                    <li class='page-item'>
                        <a class='page-link' href='?page={{ page_num }}&search={{ search }}'>{{ page_num }}</a>
                    </li>
                    {% else %}
                    <li class='page-item active' aria-current='page'>
                        <a class='page-link' href='#'>{{ page_num }}</a>
                    </li>
                    {% endif %}
                {% else %}
                    <li class='page-item disabled'>
                        <a class='page-link' href='#'>...</a>
                    </li>
                {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if paging.has_next %}
            <li class='page-item'>
                <a class='page-link' href='?page={{ paging.next_num }}&search={{ search }}'>다음</a>
            </li>
            {% else %}
            <li class='page-item disabled'>
                <a class='page-link' tabindex='-1' aria-disabled='true' href='#'>다음</a>
            </li>
            {% endif %}
        {% else %}
            {% if paging.has_prev %}
                <li class='page-item'>
                    <a class='page-link' href='?page=0&search={{ search }}'>처음</a>
                </li>
                <li class='page-item'>
                    <a class='page-link' href='?page={{ paging.prev_num }}&search={{ search }}'>이전</a>
                </li>
            {% else %}
                <li class='page-item disabled'>
                    <a class='page-link' tabindex='-1' aria-disabled='true' href='#'>처음</a>
                </li>
                <li class='page-item disabled'>
                    <a class='page-link' tabindex='-1' aria-disabled='true' href='#'>이전</a>
                </li>
            {% endif %}
            {% for page_num in paging.pages %}
                {% if page_num >= 0 %}
                    {% if page_num != paging.page %}
                    <li class='page-item'>
                        <a class='page-link' href='?page={{ page_num }}&search={{ search }}'>{{ page_num }}</a>
                    </li>
                    {% else %}
                    <li class='page-item active' aria-current='page'>
                        <a class='page-link' href='#'>{{ page_num }}</a>
                    </li>
                    {% endif %}
                {% else %}
                    <li class='page-item disabled'>
                        <a class='page-link' href='#'>...</a>
                    </li>
                {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if paging.has_next %}
            <li class='page-item'>
                <a class='page-link' href='?page={{ paging.next_num }}&search={{ search }}'>다음</a>
            </li>
            {% else %}
            <li class='page-item disabled'>
                <a class='page-link' tabindex='-1' aria-disabled='true' href='#'>다음</a>
            </li>
            {% endif %}
        {% endif %}
    {% endif %}
</ul>